<div class="container row m-auto g-auto align-items-center">
<div class="mb-5">
<div class="d-inline p-2" style="margin-left:900px;">

<%= link_to "Logout", user_log_out_path %>

</div>
<div>
<%= link_to "Add Product", user_addproduct_path,class:"btn btn-light" %>
</div>

<div>
<%= link_to "Order History", user_order_history_path(:session=>@session),class:"btn btn-light" %>
</div>
</div>